{% load static %}

<head>

<title>Doctor Register</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>

<style>

.login-form-2 h3{
    background: rgb(4, 4, 80);
    color: #fff;
    padding: 2%
}


img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.col-lg-8{
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.btnSubmit{
    width: 100%;
    padding: 2%;
    cursor: pointer;
}

.col-lg-4 p{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

</style>
<br>
<br>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
            <i class="fas fa-check-circle"></i>
            <div class="message">
            &nbsp;{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
            <i class="fas fa-times-circle"></i>
            <div class="message">
            &nbsp;{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>  
        {% endif %}
    {% endfor %}  
{% endif %}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">UP TeleMed - Doctor Registration</h1>
                        </div>
                        <form action="" method="post">
                          {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0" id="username">
                                    {{userForm.username}}
                                </div>
                                <div class="col-sm-6" id="email">
                                    {{userForm.email}}
                                </div>
                            </div>
                         
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0" id="password1">
                                    {{userForm.password1}}
                                </div>
                                <div class="col-sm-6" id="password2">
                                    {{userForm.password2}}
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0" id="first_name">
                                    {{doctorForm.first_name}}
                                </div>
                                <div class="col-sm-6" id="last_name">
                                    {{doctorForm.last_name}}
                                </div>
                                <div class="col-sm-6" id="middle_name">
                                    {{doctorForm.middle_name}}
                                </div>
                                <div class="col-sm-6" id="suffix">
                                    {{doctorForm.suffix}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0" id="first_name">
                                    {{doctorForm.sex}}
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0" id="birthdate">
                                    {{doctorForm.birthdate}}
                                </div>
                                <div class="col-sm-6" id="age">
                                    {{doctorForm.age}}
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0" id="birthdate">
                                    {{doctorForm.cell_no}}
                                </div>
                                <div class="col-sm-6" id="age">
                                    {{doctorForm.specialization}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0" id="birthdate">
                                    {{doctorForm.hospital_affliations}}
                                </div>
                            </div>
                            <button id="submit_button" type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
