{% extends 'telemedicine/main.html' %}
{% block content %}
{% load auth_extras %}
<style>
  .form-control{
    margin-bottom: 10px;
  }
</style>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
            <i class="fas fa-check-circle"></i>
            <div class="message">
            &nbsp;{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
            <i class="fas fa-times-circle"></i>
            <div class="message">
            &nbsp;{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>  
        {% endif %}
    {% endfor %}  
{% endif %}
<h1 class="h3 mb-2">Create Consultation Form</h1>
<div class="card shadow mb-4">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <table class="table table-bordered">
                  <tr>
                    <th class="table-primary" colspan="9" ><b>Patient Information</b></th>
                  </tr>
                  <tr>
                    <td class="table-light" colspan="1"><b>Patient:</b></td>
                    <td class="table-light" colspan="2">{{cons_form.patient}}</td>
                  </tr>
                  <tr>
                    <td class="table-light" colspan="1"><b>Address:</b></td>
                    <td class="table-light" colspan="2">{{cons_form.p_address}}</td>
                    <td class="table-light" colspan="1"><b>Landline:</b></td>
                    <td class="table-light" colspan="2">{{cons_form.landline}}</td>
                  </tr>
                  <tr>
                    <td class="table-light" colspan="1"><b>Mobile:</b></td>
                    <td class="table-light" colspan="2">{{cons_form.mobile}}</td>
                    <td class="table-light" colspan="1"><b>Email:</b></td>
                    <td class="table-light" colspan="2">{{cons_form.email}}</td>
                  </tr>
                </table>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>

{% endblock content %}
